docker.enabled = true
docker.runOptions = '-u \$(id -u):\$(id -g)'

process {
    withName: DOWNLOAD_FASTQ {
        container = 'alantrbt/sratoolkit:latest'
    }

    withName: TRIM {
        container = 'alantrbt/cutadapt:1.11'
    }

    withName: INDEX {
        container = 'alantrbt/bowtie:latest'
    }

    withName: ALIGN {
        container = 'alantrbt/bowtie:latest'
    }

    withName: COUNT {
        container = 'alantrbt/subread:latest'
    }

    withName: DESEQ2 {
        container = 'alantrbt/deseq2:latest'
    }
}

params {
    outdir = 'results'
}

report {
    enabled = true
    file = "reports/report.html"
}

timeline {
    enabled = true
    file = "reports/timeline.html"
}

dag {
    enabled = true
    file = "reports/dag.dot"
}

trace {
    enabled = true
    file = "reports/trace.txt"
}
