docker.enabled = true
docker.runOptions = '-u \$(id -u):\$(id -g)'

process {
    withName: downloadFASTQ {
        container = 'alantrbt/sratoolkit:latest'
    }

    withName: TRIM {
        container = 'alantrbt/cutadapt:1.11'
    }

    withName: ALIGN {
        container = 'alantrbt/bowtie2:latest'
    }

    withName: COUNT {
        container = 'alantrbt/subread:latest'
    }

    withName: DESEQ2 {
        container = 'alantrbt/deseq2:latest'
    }

    executor = 'local'
    cpus = 4
    memory = '8 GB'
}

params {
    outdir = 'results'
}
